.detailsbody {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 370%; */
    background: rgb(43, 38, 133);
    background: radial-gradient(
      circle,
      rgba(2, 0, 36, 1) 0%,
      rgba(30, 54, 59, 1) 0%,
      rgba(93, 93, 116, 1) 100%
    );
}
.details {
    padding: 20px;
    background-color: #B0E0E6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    max-width: 500px;
    width: 100%;
    border-radius: 5px;
}

.detailsheading {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    background-color:#fff;
}